<form
  name="contact-form"
  data-netlify="true"
  netlify-honeypot="bot-field"
  hidden
>
  <!-- this is a dummy form needed for netlify - https://github.com/nuxt/nuxt.js/issues/727 /> -->
  <input type="text" name="name" />
  <input type="email" name="email" />
  <textarea name="message"></textarea>
</form>
