<template functional>

  <img
    width="326"
    height="117"
    src="/roman-neumann-logo.svg"
    alt="Roman Neumann"
    role="img"
  />

</template>

<style lang="scss" scoped>
div {
  cursor: pointer;
}
img {
  padding: 1px;
  max-width: 60vw;
}
</style>

