<template>
  <div class="footer u-marginBottomSmall">
    <nuxt-link to="/imprint">Impressum & Datenschutz</nuxt-link>
    <a
      class="social-link"
      href="https://www.xing.com/profile/Roman_Neumann2?sc_o=mxb_p"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="~/assets/img/xing.svg" alt="XING">
    </a>
    <a
      class="social-link"
      href="https://de.linkedin.com/in/roman-neumann-b2a13a33"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="~/assets/img/linkedin.svg" alt="LinkedIn">
    </a>
  </div>
</template>

<style lang='scss' scoped>
.footer {
  text-align: center;
  margin-top: 16rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  :first-child {
    justify-self: flex-start;
    margin-right: auto;
  }
}
.social-link {
  display: block;
  line-height: 1;
  margin: 0.25rem;
  padding: 0.5rem;
  background: var(--color-3);
  border-radius: var(--radius-s);

  &:hover {
    background: var(--color-1);
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
</style>