<template>
  <div class="navigation">
    <nav class="content-wrapper">
      <ul class="nav-ul">
        <li v-for="item in navItems" :key="item._uid">
          <a :href="item.scrollTo" v-scroll-to="item.scrollTo">
            {{ item.text }}
          </a>
        </li>
        <li class="lang-switcher">
          <nuxt-link to="/">DE</nuxt-link>
          <span class="opacity-50">|</span>
          <nuxt-link to="/en">EN</nuxt-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    navItems: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.navigation {
  width: 100%;
  color: #fff;
  background-color: var(--color-3);
  border-radius: var(--radius-l);
  position: relative;

  &::before {
    content: '';
    display: none;
    @include mq-md {
      display: block;
    }
    width: 100%;
    height: 3rem;
    position: absolute;
    background: inherit;
    top: 100%;
    z-index: 9;
  }
  &::after {
    content: '';
    display: none;
    @include mq-md {
      display: block;
    }
    width: 50%;
    height: 100%;
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    z-index: -1;
  }

  > nav {
    display: none;
    @include mq-md {
      display: block;
    }
    z-index: 20;
  }
}
.nav-ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  list-style: none;
  li {
    display: inline-block;
    margin: 0.75rem 1rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
      justify-self: flex-end;
      margin-left: auto;
    }
    &.lang-switcher {
      a {
        opacity: 0.65;
      }

      .nuxt-link-exact-active {
        opacity: 1;
        text-decoration: underline;
      }
    }
    > a {
      // font-weight: bold;
      letter-spacing: 1px;
      // text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
</style>
