/* purgecss start ignore */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: var(--c-text);
  -webkit-tap-highlight-color: var(--teal-trans);
}

// reset outline of inputs
input,
button,
textarea {
  outline: 0 !important;
}

::selection {
  background: var(--color-hi);
  color: var(--white);
}

:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--blue-dark);
}
video:focus {
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.5rem;
}

:target {
  // background-color: #ffa;
}

/* purgecss end ignore */
