a {
  text-decoration: underline;
  color: var(--color-3);
  transition: all 200ms var(--curve-1);

  &:hover {
    // text-decoration: none;
    // background-color: var(--color-1);
    text-decoration-color: var(--teal);
    color: var(--color-1);
  }
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  transition: all 200ms var(--curve-1);
  display: inline-block;
  background-color: var(--color-3);
  color: var(--white);
  padding: 0.5em 1.5em 0.42em 1.5em;
  min-width: 8rem;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: var(--radius-s);
  box-shadow: 0 -3px 0 0 var(--teal), 0 3px 0 0 var(--blue-dark);

  &:hover,
  &:focus {
    outline: none;
    color: #fff;
    background-color: var(--blue-hover);
    box-shadow: 0 -2px 0 0 var(--teal), 0 4px 0 0 var(--blue);
    transform: translateY(-1px);
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

// .gradient-multiline {
//   position: relative;
//   width: 30rem;
//   margin-left: auto;
//   margin-right: auto;
//   background-color: #fff;
//   text-align: center;
//   overflow: hidden;
// }

// .gradient-multiline span {
//   color: #000;
//   text-decoration: underline;
//   // background-color: #000;
//   padding: 0.225rem 0.5rem;
//   line-height: 1.5;
//   /* Needs prefixing */
//   -webkit-box-decoration-break: clone;
//   box-decoration-break: clone;
//   // border-radius: 0 1em;
// }

// @supports (mix-blend-mode: lighten) {
//   .gradient-multiline::after {
//     position: absolute;
//     content: '';
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     pointer-events: none;
//     // background: linear-gradient(-60deg, var(--teal) 0%, var(--color-1) 50%, var(--color-3) 50.1%, var(--color-2) 100%);
//     background: linear-gradient(-20deg, var(--blue-dark) 0%, var(--teal) 100%);

//     mix-blend-mode: lighten;
//   }
// }
