// lazy-loading images with nice transition

.v-lazy-image {
  filter: blur(15px);
  transition: filter 0.3s;
  will-change: filter;
  background-color: var(--grey-vlight);
  width: 100%;
  height: auto;
}
.v-lazy-image-loaded {
  filter: blur(0);
  background-color: none;
}
