.fade-enter,
.fade-leave-to {
  opacity: 0;
  // transform: scale(.8);
}

.fade-enter-active {
  transition: opacity 1s var(--curve-1);
  // transform: scale(1);
  // @include reduced-motion {
  //   transform: none;
  // }
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 1s var(--curve-1);
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: var(--curve1);
  transition-duration: 320ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
