.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  /* @include mq-sm {
    max-width: $width-sm;
  }
  @include mq-md {
    max-width: $width-md;
  }
  @include mq-lg {
    max-width: $width-lg;
  } */
  // @include mq-xl {
  //   max-width: $width-xl;
  // }
}

.u-marginTopSmall {
  margin-top: calc(1rem + 8vh);
}

.u-marginBottomSmall {
  margin-bottom: calc(1rem + 8vh);
}

.u-marginTopMedium {
  margin-top: calc(2rem + 8vh);
}

.u-marginBottomMedium {
  margin-bottom: calc(2rem + 8vh);
}

.u-marginTopLarge {
  margin-top: calc(4rem + 10vh);
}

.u-marginBottomLarge {
  margin-bottom: calc(4rem + 10vh);
}

.u-roundCorners {
  border-radius: var(--radius-s);
  overflow: hidden;
}

.u-textShadow {
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
