:root {
  // color values
  --blue: #3172ae;
  --blue-hover: #176b90;
  --blue-light: #419df1;
  --blue-dark: #3172AE;
  --teal: #47e6eb;
  --teal-trans: rgba(71, 230, 235, 0.4);
  --white: #fff;
  --grey-vlight: #f5f5f5;
  --grey-dark: #222222;

  // other vars
  --radius-s: 0.5rem 0 0.5rem 0;
  --radius-m: 1rem 0 1rem 0;
  --radius-l: 1.5rem 0 1.5rem 0;
  --curve-1: cic-bezier(0.2, 0.7, 0.6, 1);
  --curve-2: cubic-bezier(0.23, 1, 0.32, 1);

  --border-teal: 3px solid var(--teal);

  --narrow: 37.5rem; //600px
  --wide: 60rem;

  // vars in use
  --color-1: var(--blue-light); // primary color
  --color-2: var(--teal); // secondary color
  --color-3: var(--blue-dark); // tertiary color
  --color-text-blue: var(--blue-dark);
  --color-hi: var(--teal); // highlight color
  --c-text: var(--grey-dark);
}
