@import 'vars';
@import 'fonts';
@import 'base';
@import 'markdown';
@import 'utility';
@import 'transitions';
@import 'brand';
@import 'img';

// experiments

// h1 {
//   font-size: calc(1.4em + 1.6vmin + 0.4vw);
//   line-height: calc(1.5em + 0.2vmin + 0.6vw);
// }

.something {
  padding: calc(0.4em + 2vmin + 0.6vw);
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  padding-left: calc(0.4rem + 2.5vmin + 1vw);
  padding-right: calc(0.4rem + 2.5vmin + 1vw);
}

.heading2 {
  text-align: center;
  // text-transform: uppercase;
  color: var(--color-3);
}
.heading3 {
}
.heading4 {
}
