$sm-width: 600px;
$md-width: 960px;
$lg-width: 1280px; // Desktop gets a 16dp reduction
$xl-width: 1920px;

@mixin reduced-motion {
  @media screen and (prefers-reduced-motion: reduce) {
    @content;
  }
}

@mixin cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin aspect-ratio($width, $height) {
  // make sure the container has only one child element
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc((#{$height} / #{$width}) * 100%);
  }
  > *:last-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

@mixin mq-sm {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: #{$md-width}) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

@mixin mq-xl {
  @media (min-width: #{$xl-width}) {
    @content;
  }
}
