<template>
  <div>
    <noscript>Please enable Javascript in your browser.</noscript>
    <nuxt />
    <client-only>
      <!-- <CookieLaw
        class="cookie-banner"
        position="top"
        transitionName="slideFromTop"
      >
        <div class="w-full" slot-scope="props">
          <div class="cookie-banner__message text-center" slot="message">
            Diese Website nutzt Cookies. Mehr Informationen dazu in der
            <nuxt-link to="/imprint">Datenschutzerklärung</nuxt-link>.
            <button @click="props.accept">OK</button>
          </div>
        </div>
      </CookieLaw> -->
    </client-only>
  </div>
</template>

<style lang="scss" scoped>
noscript {
  margin: 0 auto 1rem;
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgb(139, 15, 15);
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.cookie-banner {
  font-size: 14px;
  line-height: 1.25;
  border-bottom: var(--color-1) solid 3px;
  > * {
    margin: 0.25rem 0;
  }
  padding: 0.25rem 1rem;
  background: #fff;
  button {
    cursor: pointer;
    border: none;
    font-size: 1em;
    letter-spacing: 1px;
    display: inline-block;
    background: var(--color-1);
    padding: 0.25em 0.5em;
    color: #fff;
    font-weight: bold;
    border-radius: var(--radius-s);
    min-width: 4em;
    margin: 0 0.5em;
    &:hover {
      background: var(--color-3);
    }
  }
}
</style>

<script>
import * as constants from '@/constants.js'
// import CookieLaw from 'vue-cookie-law'

export default {
  // components: { CookieLaw },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href:
            constants.baseUrlSecure +
            (this.$route.path == '/' ? '' : this.$route.path),
        },
      ],
    }
  },
}
</script>

