<template>
  <div>
    <component
      v-for="blok in story.content.hero"
      :key="blok._uid"
      :blok="blok"
      :is="blok.component"
    ></component>

    <div class="content" v-editable="story.content">
      <TheNavigation :navItems="story.content.navItems" />
      <div id="top" class="content__inner">
        <main class="content-wrapper">
          <component
            v-for="blok in story.content.body"
            :key="blok._uid"
            :blok="blok"
            :is="blok.component"
          ></component>
          <TheFooter />
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import TheFooter from '~/components/TheFooter.vue'
import TheNavigation from '~/components/TheNavigation.vue'
export default {
  props: ['story'],
  components: {
    TheFooter,
    TheNavigation,
  },
  head() {
    return {
      htmlAttrs: {
        lang: this.story.content.lang,
      },
    }
  },
}
</script>

<style lang="scss">
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 90vh;
  @media screen and (min-height: 560px) {
    margin-top: 80vh;
  }
  @media screen and (min-height: 700px) {
    margin-top: 70vh;
  }
}
.content__inner {
  z-index: 11;
  width: 100%;
  min-height: 200vh;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  background-color: var(--white);
  border-radius: var(--radius-l);

  box-shadow: 0 -0.5rem 0 0 var(--color-3);
  @include mq-md {
    box-shadow: none;
  }
}
.contact-placeholder {
  text-align: center;
}
</style>