<template>
  <div class="container">
    <nuxt-link to="/" class="block u-marginBottomMedium u-marginTopLarge">
      <BaseLogo />
    </nuxt-link>
    <component
      v-for="blok in story.content.body"
      :key="blok._uid"
      :blok="blok"
      :is="blok.component"
    ></component>
  </div>
</template>
          
<script>
import BaseLogo from '@/components/BaseLogo.vue';
export default {
  props: ['story'],
  components: {
    BaseLogo,
  }
}
</script>
          
<style lang="scss" scoped>
</style>