<template>
  <li class="testimonial">
    <blockquote>
      <truncate
        v-if="blok.quote"
        class="testimonial__text"
        action-class="truncate-action"
        collapsed-text-class="truncate--collapsed"
        :length="350"
        :clamp="labelContinue"
        less
        type="html"
        :text="blok.quote"
      ></truncate>
    </blockquote>

    <cite v-if="blok.name">
      <v-lazy-image
        class="testimonial__image"
        v-if="blok.picture && blok.picture.image"
        :src="blok.picture.image"
        :alt="blok.alt_text || ''"
        :src-placeholder="
          blok.picture.image | transformImage('50x0/filters:quality(10)')
        "
        use-picture
      >
        <source
          :srcset="
            $options.filters.transformImage(
              blok.picture.image,
              'filters:format(webp)'
            )
          "
          type="image/webp"
        />

        <source
          :srcset="
            $options.filters.transformImage(
              blok.picture.image,
              'filters:format(jpg)'
            )
          "
          type="image/jpg"
        />
      </v-lazy-image>

      <div>
        <strong class="testimonial__name">{{ blok.name }}</strong>

        <br />

        <span v-if="blok.position" class="testimonial__position">
          {{ blok.position }}
        </span>
      </div>
    </cite>
  </li>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      required: true,
    },
    labelContinue: {
      type: String,
      default: 'weiterlesen',
    },
  },
}
</script>

<style lang="scss" scoped>
// not scoped for truncate plugin!

.testimonial {
  line-height: 1.75;
  list-style: none;
  display: block;

  > cite {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
}
.testimonial__image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
  display: block;
  flex-shrink: 0;
  transform: translateZ(0);

  :deep(img) {
    object-fit: cover;
    height: 100%;
  }
}

.testimonial__text {
  // font-size: 1.35rem;
  text-align: left;
  font-style: italic;
  // color: var(--color-text-blue);
  position: relative;

  &::before {
    content: '» ';
    color: var(--color-2);
    position: absolute;
    left: -1em;
    top: -0.5rem;
    font-size: 150%;
  }
  // &::after {
  //   content: ' «';
  //   display: inline;
  // }
}

.truncate-action {
  display: none;
}

.truncate--collapsed + .truncate-action {
  display: inline-block;
  font-weight: bold;
  font-style: normal;
  // background-color: var(--color-1);
  // color: #fff;
  padding: 0 0.25em;
  // text-decoration: none;
  border-radius: var(--radius-s);
  // text-transform: uppercase;
}
</style>
