<template>
  <section
    v-editable="blok"
    class="u-marginTopMedium u-marginBottomLarge"
  >
    <HtmlParser class="markdown" :content="$options.filters.markdown(blok.content)" />
  </section>
</template>

<script>
export default {
  props: ['blok'],
}
</script>



<style lang="scss" scoped>
</style>
