<template>
  <section v-editable="blok" class="video u-marginTopLarge u-marginBottomLarge">
    <div class="video-wrapper">
      <video
        title="Roman Neumann Video"
        class="w-full"
        width="640"
        height="360"
        :src="blok.file_720p"
        :poster="blok.poster"
        controls
        controlsList="nodownload"
        loading="lazy"
        preload="metadata"
      >
        <source
          v-if="blok.file_1080p"
          :src="blok.file_1080p"
          type="video/mp4"
          media="all and (min-width: 1800px)"
        />
        <source :src="blok.file_720p" type="video/mp4" />
      </video>
    </div>
  </section>
</template>

<script>
const parameters = `color=white`
export default {
  props: ['blok'],
}
</script>

<style lang="scss" scoped>
.video {
  width: 100%;
  max-width: 100%;
  display: block;

  .video-wrapper {
    // background-color: #aaa;
    @include aspect-ratio(16, 9);
    max-height: 100vh;
    border-radius: var(--radius-l);
    overflow: hidden;
  }
  iframe {
    max-height: 100vh;
    max-height: 100%;
    max-width: 100%;
  }
}

.aspect16by9 {
  position: relative;
  height: 0;
  padding-bottom: 56.27198%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
</style>