<template>
  <v-lazy-image
    :src="blok.image"
    :alt="blok.alt_text"
    :src-placeholder="blok.image | transformImage('50x0/filters:quality(10)')"
    use-picture
  >
    <source
      :srcset="
        $options.filters.transformImage(blok.image, 'filters:format(webp)')
      "
      type="image/webp"
    />
    <source
      :srcset="
        $options.filters.transformImage(blok.image, 'filters:format(jpg)')
      "
      type="image/jpg"
    />
  </v-lazy-image>
</template>

<script>
export default {
  props: ['blok'],
}
</script>
