<template>
  <section class="section working-areas u-marginTopMedium u-marginBottomMedium">
    <div
      class="working-areas__heading-wrapper"
      v-scroll-reveal="{ delay: 100 }"
    >
      <h2 class="heading2 working-areas__heading">
        {{ blok.heading }}
      </h2>
    </div>
    <div class="working-areas__inner">
      <svg
        width="600"
        height="600"
        viewBox="0 0 600 600"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <rect width="600" height="600" fill="white"></rect>
          <path
            d="M2.99996 600L2.99999 598L300 300"
            stroke="#419DF1"
            stroke-width="6"
          ></path>
          <circle cx="300" cy="300" r="300" fill="#419DF1"></circle>
          <circle cx="300" cy="300" r="300" fill="url(#paint0_radial)"></circle>
          <path
            d="M63.0002 600L63 598L300 300"
            stroke="#3172AE"
            stroke-width="6"
          ></path>
          <circle cx="300" cy="300" r="210" fill="#3172AE"></circle>
          <circle cx="300" cy="300" r="210" fill="url(#paint1_radial)"></circle>
          <path
            d="M123 600L123 598L300 300"
            stroke="#47E6EB"
            stroke-width="6"
          ></path>
          <circle cx="300" cy="300" r="100" fill="#47E6EB"></circle>
          <circle cx="300" cy="300" r="100" fill="url(#paint2_radial)"></circle>
        </g>
        <defs>
          <radialGradient
            id="paint0_radial"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(300 300) rotate(90) scale(300)"
          >
            <stop
              offset="0.701657"
              stop-color="white"
              stop-opacity="0.2"
            ></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <radialGradient
            id="paint1_radial"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(300 300) rotate(90) scale(260)"
          >
            <stop
              offset="0.309392"
              stop-color="white"
              stop-opacity="0.2"
            ></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <radialGradient
            id="paint2_radial"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(300 300) rotate(90) scale(60)"
          >
            <stop stop-color="white" stop-opacity="0.46"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <clipPath id="clip0">
            <rect width="600" height="600" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>

      <div v-editable="blok" class="working-areas__text">
        <div
          v-scroll-reveal.repeat="{
            delay: 0,
            origin: 'top',
            opacity: 1,
            distance: '300px',
            duration: 3000,
          }"
          class="line line1"
        ></div>
        <div
          v-scroll-reveal.repeat="{
            delay: 0,
            origin: 'top',
            opacity: 1,
            distance: '400px',
            duration: 4000,
          }"
          class="line line2"
        ></div>
        <div
          v-scroll-reveal.repeat="{
            delay: 0,
            origin: 'top',
            opacity: 1,
            distance: '500px',
            duration: 5000,
          }"
          class="line line3"
        ></div>

        <section
          id="coaching"
          class="working-area text1"
          v-scroll-reveal="{ delay: 200, origin: 'left' }"
        >
          <HtmlParser
            class="markdown quote__text"
            :content="$options.filters.markdown(blok.area1)"
          />
        </section>
        <section
          id="training"
          class="working-area text2"
          v-scroll-reveal="{ delay: 300, origin: 'left' }"
        >
          <HtmlParser
            class="markdown quote__text"
            :content="$options.filters.markdown(blok.area2)"
          />
        </section>
        <section
          id="speaking"
          class="working-area text3"
          v-scroll-reveal="{ delay: 400, origin: 'left' }"
        >
          <HtmlParser
            class="markdown quote__text"
            :content="$options.filters.markdown(blok.area3)"
          />
        </section>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['blok'],
}
</script>


<style scoped lang="scss">
.working-areas {
  width: 100%;
  position: relative;
  &__inner {
    width: inherit;
    max-width: 37.5rem; //600px
    margin: 0 auto;
  }
}
.working-areas__heading-wrapper {
  position: absolute;
  width: 100%;
  padding: 1rem;
  top: 10rem;
  z-index: 202;
}
.working-areas__heading {
  color: #fff;
  max-width: 500px;
  margin: auto;
  font-size: 2.8rem;
}
svg {
  // width: 100%;
  // max-width: 100rem;
  margin: 0 auto;
  margin-bottom: -8px; // TODO: ?? - comes from svg
  z-index: 201;
  position: relative;
}

.working-areas__text {
  // position: relative;
  z-index: 200;
  display: grid;
  grid-template-columns: 60px 60px 60px auto;
  grid-template-areas:
    'line3 line2 line1 text1'
    'line3 line2 text2 text2'
    'line3 text3 text3 text3';
}
.line {
  display: block;
  width: 100%;
  height: 100%;
  border-left-style: solid;
  border-left-width: 6px;
}
.line1 {
  grid-area: line1;
  border-left-color: var(--color-2);
}
.line2 {
  grid-area: line2;
  border-left-color: var(--color-3);
}
.line3 {
  grid-area: line3;
  border-left-color: var(--color-1);
}
.text1 {
  grid-area: text1;
}
.text2 {
  grid-area: text2;
}
.text3 {
  grid-area: text3;
}

.working-area {
  padding-top: 3rem;
  margin-left: -2rem;
}
</style>