<template>
  <section
    id="references"
    class="testimonials u-marginTopLarge u-marginBottomMedium"
  >
    <h2 class="heading2 testimonials__heading u-marginBottomSmall">
      {{ blok.heading }}
    </h2>

    <ul class="testimonials__grid">
      <SectionTestimonialsItem
        class="t-grid__item"
        v-for="item in blok.items"
        :key="item._uid"
        :blok="item"
        :labelContinue="blok.labelContinue"
      />
    </ul>
  </section>
</template>

<script>
export default {
  props: ['blok'],
}
</script>

<style lang="scss" scoped>
.testimonials {
  display: flex;
  flex-direction: column;
}
.testimonials__heading {
  // color: var(--teal);
  display: inline-block;
  border-bottom: var(--border-teal);
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
}
.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 5rem 4.5rem;
  justify-content: center;
  align-items: start;

  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // max-height: 1000px;
  // max-width:100%;
}
</style>

