<template>
  <section id="contact">
    <h2 class="heading2">
      {{ blok.heading }}
    </h2>
    <form
      data-netlify="true"
      data-netlify-honeypot="bot-field"
      name="contact-form"
      method="post"
      :action="blok.actionPath"
      class="mx-auto w-full max-w-sm"
    >
      <!-- Hidden input for netlify: https://github.com/nuxt/nuxt.js/issues/727 -->
      <input type="hidden" name="form-name" value="contact-form" />

      <!-- name input -->
      <div class="mb-6">
        <label for="name" class="block font-bold mb-1 pr-4">
          {{ blok.label_name }}
        </label>
        <input
          class="u-roundCorners bg-gray-300 appearance-none border-none w-full py-2 px-4 text-gray-800"
          name="name"
          id="name"
          type="text"
          placeholder
          required
        />
      </div>
      <!-- email input -->
      <div class="mb-6">
        <label for="email" class="block font-bold mb-1 pr-4">
          {{ blok.label_email }}
        </label>
        <input
          class="u-roundCorners bg-gray-300 appearance-none border-none w-full py-2 px-4 text-gray-800"
          name="email"
          id="email"
          type="email"
          placeholder
          required
        />
      </div>
      <!-- message input -->
      <div class="mb-6">
        <label for="message" class="block font-bold mb-1 pr-4">
          {{ blok.label_message }}
        </label>
        <textarea
          class="u-roundCorners bg-gray-300 appearance-none border-none w-full py-2 px-4 text-gray-800"
          name="message"
          id="message"
          type="text"
          placeholder
          required
        ></textarea>
      </div>
      <!-- send button -->
      <div class="flex justify-center">
        <button class="button" type="submit">
          {{ blok.btn_text }}
        </button>
      </div>
    </form>
  </section>
</template>

<script>
export default {
  props: ['blok'],
}
</script>


<style scoped>
textarea {
  min-height: 10rem;
}
</style>