<template>
  <section
    id="podcast"
    v-editable="blok"
    class="u-marginTopLarge u-marginBottomLarge"
  >
    <h2>
      {{ blok.heading }}
    </h2>
    <figure>
      <img
        class="cover"
        loading="lazy"
        width="500"
        height="500"
        :src="
          $options.filters.transformImage(blok.picture, 'filters:format(jpg)')
        "
        alt=""
      />
      <figcaption class="">
        {{ blok.content }}
      </figcaption>
    </figure>
    <div class="podcastLinks">
      <a
        href="https://open.spotify.com/show/3SmDA06uJn5FGRbQA8FRMy?si=yOGtZwaARwSu9F8Uknvbmg"
      >
        <img
          loading="lazy"
          src="/podcast-spotify.jpg"
          alt="Listen on Spotify Podcasts"
        />
      </a>
      <a
        href="https://podcasts.apple.com/de/podcast/the-power-of-machen/id1625405238"
      >
        <img
          loading="lazy"
          src="/podcast-apple.jpg"
          alt="Listen on Apple Podcasts"
        />
      </a>
      <a
        href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy85NjY5YTQ4OC9wb2RjYXN0L3Jzcw?sa=X&ved=2ahUKEwjqjt77p9f-AhUpmf0HHV8CCB8Q9sEGegQIARAC"
      >
        <img
          loading="lazy"
          src="/podcast-google.jpg"
          alt="Listen on Google Podcasts"
        />
      </a>
    </div>
  </section>
</template>

<script>
export default {
  props: ['blok'],
}
</script>

<style lang="scss" scoped>
section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 50rem;
}
h2 {
  display: inline-block;
  border-bottom: var(--border-teal);
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 3rem;
}
.cover {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  border-radius: 1rem;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 2px 28px rgba(0, 0, 0, 0.15));
}
figcaption {
  margin-top: 2rem;
  font-size: 1.25rem;
}
.podcastLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 1rem;

  @include mq-md {
    flex-direction: row;
  }

  a {
    height: 3.5rem;
    flex-shrink: 0;
    flex-grow: 0;

    img {
      height: 100%;
    }
  }
}
</style>
