<template>

  <section class="flow-root short-news u-marginTopMedium u-marginBottomLarge">

    <h2 class="short-news__heading"> {{ blok.heading }} </h2>

    <ul class="short-news__ul">

      <li
        class="post"
        v-for="post in latestPosts"
        :key="post.id"
        :style="
          `background-image: url( ${$options.filters.transformImage(
            post.content.image,
            '600x0'
          )} )`
        "
      >

        <a
          class="post__link"
          :href="post.content.link"
          target="_blank"
          rel="noopener"
        >

          <h3 class="post__title">{{ post.name }}</h3>

        </a>

      </li>

    </ul>

    <a
      class="float-right"
      href="https://www.linkedin.com/in/roman-neumann-b2a13a33/detail/recent-activity/"
      rel="noreferrer"
      target="_blank"
    >
      Mehr auf LinkedIn
    </a>

  </section>

</template>

<script>
import axios from 'axios'
import * as constants from '@/constants.js'

export default {
  props: ['blok'],
  data() {
    return {
      latestPosts: [],
    }
  },
  mounted() {
    this.$nextTick(function() {
      axios
        .get(constants.sbGetUrl + '&filter_query[component][in]=ShortNewsPost')
        .then(res => {
          this.latestPosts = res.data.stories
        })
    })
  },
}
</script>

<style scoped lang="scss">
.short-news {
  margin-bottom: 5rem;
}

.short-news__heading {
  color: var(--blue);
  text-align: center;
}

.short-news__ul {
  padding: 0;
  display: block;
  // flex-wrap: wrap;
  // justify-content: center;
  @include mq-sm {
    grid-column-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.post {
  margin-bottom: 1rem;
  list-style: none;
  border-radius: var(--radius-m);
  overflow: hidden;
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-color: var(--blue);
}
.post__link {
  background: rgba(0, 0, 0, 0.5); // fallback
  background: rgba(49, 114, 174, 0.9);
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.2) 100%
  ); */
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  padding: calc(0.2rem + 1vmin + 0.1vw);
  display: flex;
  align-items: flex-end;
  text-decoration-color: var(--blue);
  transition: all 200ms ease-out;

  &:hover,
  &:active {
    text-decoration-color: var(--teal);
    /* background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    ); */
    background-color: rgba(49, 114, 174, 0.7);
  }
}
</style>

