<template>
  <section class="clients u-marginTopMedium u-marginBottomSmall">
    <h2 v-if="blok.heading">
      {{ blok.heading }}
    </h2>
    <!-- TODO: replace with svgs -->
    <ul class="clients__list">
      <li v-for="logo in blok.logos" :key="logo._uid">
        <SectionClientLogosItem :blok="logo" />
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  props: ['blok'],
}
</script>


<style lang="scss" scoped>
.clients {
  min-height: 40vh;
}
.clients__list {
  list-style: none;
  display: grid;
  margin: 0 2rem 2rem 2rem;
  grid-gap: 3rem 4.5rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(calc(2rem + 10vw), 1fr));
  filter: grayscale(1);
}
</style>

