<template>
  <section
    v-editable="blok"
    class="u-marginBottomLarge u-marginTopLarge about"
    id="about"
  >
    <HtmlParser
      class="markdown quote__text"
      :content="$options.filters.markdown(blok.content)"
    />
  </section>
</template>

<script>
export default {
  props: ['blok'],
}
</script>

<style lang="scss" scoped>
.about {
  max-width: var(--narrow);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  text-align: center;

  :deep(p) {
    margin-bottom: 1em;
  }
  :deep(u) {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    border-bottom: var(--border-teal);
  }
}
</style>
