<template>
  <blockquote class="quote u-marginTopMedium u-marginBottomLarge">
    <section v-editable="blok" class="section">
      <HtmlParser
        class="markdown quote__text"
        :content="$options.filters.markdown(blok.content)"
      />
    </section>
  </blockquote>
</template>

<script>
export default {
  props: ['blok'],
}
</script>

<style lang="scss" scoped>
.quote {
  max-width: var(--wide);
  margin-left: auto;
  margin-right: auto;
  font-style: italic;

  :deep(.quote__text) {
    font-size: 1.25rem;
    text-align: center;
    // font-weight: bold;
    color: var(--color-text-blue);
    // letter-spacing: .5px;
  }
}
</style>
