<template>

  <section class="hero">

    <v-lazy-image
      class="hero__background"
      :src="$options.filters.transformImage(blok.background.image, '2400x0')"
      alt=""
      use-picture
      :src-placeholder="
        blok.background.image | transformImage('100x0/filters:quality(10)')
      "
    >

      <source
        media="(max-width: 1200px)"
        :srcset="
          $options.filters.transformImage(
            blok.background.image,
            '2400x0/filters:format(webp)'
          ) +
            ' 2x, ' +
            $options.filters.transformImage(
              blok.background.image,
              '1200x0/filters:format(webp)'
            ) +
            ' 1x, '
        "
        type="image/webp"
      />

      <source
        media="(max-width: 1200px)"
        :srcset="
          $options.filters.transformImage(blok.background.image, '2400x0') +
            ' 2x, ' +
            $options.filters.transformImage(blok.background.image, '1200x0') +
            ' 1x, '
        "
        type="image/jpg"
      />

      <source
        media="(min-width: 1200px)"
        :srcset="
          $options.filters.transformImage(
            blok.background.image,
            '2400x0/filters:format(webp)'
          )
        "
        type="image/webp"
      />

      <source
        media="(min-width: 1200px)"
        :srcset="
          $options.filters.transformImage(blok.background.image, '2400x0')
        "
        type="image/jpg"
      />

    </v-lazy-image>

    <div class="hero__content content-wrapper">

      <header class="relative">

        <div class="lang-switcher">

          <nuxt-link to="/" class="text-white">DE</nuxt-link>

          <span class="opacity-50">|</span>

          <nuxt-link class="text-white" to="/en">EN</nuxt-link>

        </div>

        <div class="logoWrapper u-marginBottomSmall">

          <h1 class="heading1">

            <BaseLogo class="logo" />

            <small class="u-textShadow mt-8">{{ blok.subheading }}</small>

          </h1>

        </div>

        <div v-scroll-reveal.reset="{ delay: 200, duration: 350 }">

          <a class="button" href="#contact" v-scroll-to="'#contact'">
             {{ blok.btn_text }}
          </a>

        </div>

      </header>

    </div>

  </section>

</template>

<script>
import BaseLogo from '~/components/BaseLogo.vue'

export default {
  props: ['blok'],
  components: {
    BaseLogo,
  },
}
</script>

<style lang="scss" scoped>
.hero {
  width: 100vw;
  height: 95vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  @media screen and (min-height: 560px) {
    height: 85vh;
  }
  @media screen and (min-height: 700px) {
    height: 75vh;
  }

  /* &:hover {
    .hero__background {
      transform: scale(1.05);
    }
  } */
}
.hero__background {
  background: rgb(31, 31, 31);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;

  transition: transform 1s var(--curve-2);

  :deep(img) {
    width: 100%;
    height: 100%;
    background: inherit;

    object-fit: cover;
    object-position: 45% 25%;
  }
}
.hero__content {
  position: relative;
  height: 100%;
  .logoWrapper {
    padding-top: 12vh;
  }
}
.logo {
  display: block;
  margin-right: 1rem;
  width: 20rem;
}
.heading1 {
  color: var(--white);
  word-spacing: 1px;
  small {
    display: block;
    font-size: 1rem;
    width: 15rem;
    @include mq-sm {
      width: unset;
    }
    // margin-left: calc(-6.25rem - 1rem);
  }
}
.lang-switcher {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 4rem;

  @include mq-md {
    display: none;
  }

  a {
    opacity: 0.65;
    text-decoration: none;
  }

  .nuxt-link-exact-active {
    opacity: 1;
    text-decoration: underline;
  }
}
</style>

